.button {
	background-color: #131313;
  border: none;
  color: white;
  padding: 8px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block !important;
  font-size: 0.8rem;
  cursor: pointer;
}